# Change them to your uid/gid for the volumes ownership (defaults to yours)
# UID=1000
# GID=1000

FRONTEND_URL=https://localhost:4443
BACKEND_URL=https://localhost:4443/api

# Name of the cookie where the user info are stored
JWT_COOKIE=access_token

# Change me and keep me secret !
# Can for example be generated with `openssl rand -hex 32`
JWT_KEY=mySecretKey

# 42 Oauth variables
FORTYTWO_API_UID=u-
FORTYTWO_API_SECRET=

POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=user
POSTGRES_PASSWORD=mypassword
