# Change them to your uid/gid for the volumes ownership (defaults to yours)
# UID=1000
# GID=1000

FRONTEND_URL=https://localhost:4443
BACKEND_URL=https://localhost:4443/api

# Name of the cookie where the user info are stored
JWT_COOKIE=access_token

# Change me and keep me secret !
# Can for example be generated with `openssl rand -hex 32`
JWT_KEY=mySecretKey

# 42 Oauth variables
FORTYTWO_API_UID=u-s4t2ud-e8dbb95b572290b805d9c2c148f53c1872a965830dd887fc7f90c9e77a377db2
FORTYTWO_API_SECRET=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

POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=user
POSTGRES_PASSWORD=mypassword
