# Node related
.DS_Store
*/.vscode
*/node_modules/
backend/dist/
backend/dist/*
backend/dist/app.module.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/
/test/e2e/reports/
selenium-debug.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
# Vue

