$bigmain: left1 / left1 / right1 / right1;
$gigamain: left1 / left1 / footer2 / footer2;
$main: main1 / main1 / main3 / main3;
$header1-2: header1 / header1 / header2 / header2;
$footer: footer1 / footer1 / footer2 / footer2;
