$yellow: #ffdd42;
$light-gray: #121212;
$lighter-gray: #1D1D1DFF;

$background: #222831;
$secondary: #393E46;
$tertiary: #00ADB5;
$quaternary: #EEEEEE;

$transparent-tertiary: rgba(0, 173, 181, 0.3);
$transparent-quaternary: rgba(238, 238, 238, 0.3);
$transparent-background: rgba(34, 40, 49, 0.3);